<div class="row hero info-row">
	<div class="col-xs-12 description">
		<h1><strong>Pay your rent online.</strong> We'll send the check.</h1>
	</div>
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 tagline">
		<h2>Use your bank account, debit card, or credit card to send payment to any landlord.</h2>
	</div>
	<span class="col-xs-4 col-xs-offset-4">
		<div class="notify-me scroll-to-invites">Request an invitation</div>
	</span>

</div>

<div class="row subhero info-row">


</div>

<div class="row features info-row">
		* Pay online with your bank account, debit card, or credit card.
		* Split rent with your roommates.
		* Make use of rent reminders.
</div>

<div class="row pricing info-row">
	Bank Account: $4.99
	Debit Card: 1%
	Credit Card: 2%

	* Pricing is subject to change.
</div>

<div class="row invites info-row">
	<h1></h1>
	<%= text_field_tag :email, 'Enter your email address...', :class => 'email-form-field col-xs-4 col-xs-offset-4' %>
</div>