<div class="bottom-nav row">
	<div class="row">
		<div class="col-xs-12 margin-2">
		   	<%= fa_icon "envelope-o", :class => 'social' %>
		    <%= fa_icon "twitter", :class => 'social' %>
	    </div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		    © Rentvelope. All rights reserved.
	    </div>
	</div>
</div>
