<div class="top-nav">
	<%= link_to image_tag("checky.png", :alt => "checky", :class => 'logo'), root_path %>
	<span class="navigation-buttons hidden-xs">
		<span class="cta-button scroll-to-invites">Invite me</span>
		<span class="scroll-to-pricing">Pricing</span>
		<span class="scroll-to-features">Features</span>
	</span>
</div>