<div class="top-nav">
	<%= link_to image_tag("checky.png", :alt => "checky", :class => 'logo'), root_path %>
	<%= link_to fa_icon("facebook", base: "square-o", :class => 'social-icons'), 'http://www.facebook.com' %>
	<%= link_to fa_icon("twitter", base: "square-o", :class => 'social-icons'), 'http://www.twitter.com' %>
</div>