<div class="top-nav">
	<%= link_to image_tag("rentvelope.png", :alt => "Rentvelope", :class => 'logo'), root_path %>
	<span class="navigation-buttons hidden-xs">
		<span class="scroll-to-pricing">Pricing</span>
		<span class="scroll-to-features">Features</span>
		<span class="scroll-to-hiw">How It Works</span>
	</span>
</div>