/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "helpers";
@import "mobile";

$col-dark: #173336;
$col-light: #737e89;
$col-space: white;
$col-section-1: lightblue;

body {
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
}

@mixin info-section-light {
	background-color: $col-space;
	color: $col-dark;
}

@mixin info-section-dark($col) {
	background-color: $col;
	color: $col-space;
}

.top-nav {
	width: 100%;
	font-size: 2em;
	font-weight: 400;
	text-align: left;
	a {
		text-decoration: none;
		color: $col-dark;
	}
	.social-icons {
		float: right;
		padding: 1em;
	}

	.navigation-buttons {
		text-transform: uppercase;
		span {
			margin-top: .9em;
			float: right;
			margin-right: 1em;
			font-size: .9em;
			font-weight: lighter;
		}
		cursor: pointer;
	}

	.cta-button {
		border-radius: .3em;
		border: 1px solid $col-dark;
		padding: 0em .5em;
	}

	.logo {
		height: 1em;
		margin: 1em;
	}
}

.bottom-nav {
	background-color: $col-dark;
	color: $col-light;
	padding: 6em;
	.social {
		background-color: $col-section-1;
		border-radius: 50%;
		width: 3em;
		height: 3em;
		padding-top: 1.1em;
		&:not(:last-child) {
			margin-right: 1em;
		}
	}
}

.info-row {
	h1 {
		font-size: 3.5em;
		font-weight: 100;
		strong {
			font-weight: 600;
		}
	}
}

.hero {
	background-color: lightblue;
	color: white;

	.tagline {
		letter-spacing: .01em;
		margin-bottom: 2em;
	}

	.notify-me {
		@include cta-button($col-space);
		font-size: 1.5em;
	}
	h2,h3,h4,h5,h6 {
		font-weight: lighter
	}

	.modal-body {
		color: $col-dark;
		input {
			@include text-field($col-dark, $col-light, $outline-border: true);
		}
	}
}

.subhero {
	@include info-section-light;
	font-weight: 100;

}

.features {
	@include info-section-dark($col-section-1);
}

.pricing {
	@include info-section-light;
	.cc-icon:not(:last-child) {
		margin-right: 1em;
	}
}

.invites {
	@include info-section-dark($col-section-1);
	.invite-me {
		@include cta-button($col-space);
		margin-left:3em;
	}
	h1 {
		margin-bottom: .5em;
	}
}

.email-form-field {
	@include text-field($col-space, $col-dark);
	margin-bottom: 1em;
}
