/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "helpers";
@import "mobile";

$col-dark: #173336;
$col-dark-2: #333;
$col-light: #737e89;
$col-space: white;
$col-section-1: #47646d;

body {
	font-family: 'Dosis', Arial, sans-serif;
	text-align: center;
}

@mixin info-section-light {
	background-color: $col-space;
	color: $col-dark;
}

@mixin info-section-dark($col) {
	background-color: $col;
	color: $col-space;
}

.top-nav {
	width: 100%;
	font-size: 2em;
	font-weight: 400;
	text-align: left;
	padding-top: 1.5em;
	a {
		text-decoration: none;
		color: $col-dark;
	}
	.social-icons {
		float: right;
		padding: 1em;
	}

	.navigation-buttons {
		span {
			margin-top: 1.1em;
			float: right;
			margin-right: 1em;
			font-size: .8em;
			font-weight: lighter;
		}
		cursor: pointer;
	}

	.cta-button {
		border-radius: .3em;
		border: 1px solid $col-dark;
		padding: 0em .5em;
	}

	.logo {
		height: .6em;
		margin: 1em;
	}

}

.bottom-nav {
	background-color: $col-dark;
	color: $col-space;
	padding: 6em;
	.social {
		background-color: $col-space;
		border-radius: 50%;
		width: 3em;
		height: 3em;
		padding-top: 1em;
		&:not(:last-child) {
			margin-right: 1em;
		}
	}
}

.info-row {
	h1 {
		font-size: 3.5em;
		font-weight: 100;
		strong {
			font-weight: 600;
		}
	}
}

h1 {
	font-size: 5em;
	font-weight: 400 !important;
}

h2,h3,h4,h5,h6 {
	font-weight: 100;
}

.hero {
	background-color: $col-section-1;
	color: white;

	.text {
		text-align: left;
		h1,h2,h3 {
			font-weight: 100;
		}
		h1 {
			font-size: 5.5em;
			font-weight: 300;
		}
		h2 {
			font-size: 2.8em;
		}
		h3 {
			font-size: 1.5em;
		}
	}

	.tagline {
		letter-spacing: .01em;
		margin-bottom: 2em;
	}

	.notify-me {
		@include cta-button($col-space);
		font-size: 1.5em;
	}

	.envelope {
		height: 20em;
		margin-top: 2em;

		cursor: pointer;
	}

	.cta {
		$padding: .6em;
		margin: 3em;
		text-transform: uppercase;
		.email-input {
			padding: 0;
			color: $col-dark;
			input {
				width: 100%;
				border: 0;
				outline: none;
				padding: $padding;
			}
		}

		.submit-button {
			background-color: $col-dark-2;
			padding: $padding;
			cursor: pointer;
		}
	}

	.modal-content {
		background-color: $col-dark;
		color: $col-space;

	.modal-body {
		padding: 4em;
		text-align: center;
		input {
			@include text-field($col-space, $col-space, $outline-border: true);
			padding-right: 1em;
		}
		.logo {
			width: 100%;
			margin-bottom: 2em;
		}
		.copy {
			font-size: 3.7em;
			margin-bottom: 2em;
		}

		.invite-me {
			@include cta-button($col-space);
		}
	}

	.envelope {
		cursor: pointer;
		width: 100%;
		margin-top: 3.5em;
	}
}

.response {
	background-color: lightblue;
}

.subhero {
	@include info-section-light;
	font-weight: 100;

}

.features {
	@include info-section-dark($col-section-1);
}

.pricing {
	@include info-section-light;
	.cc-icon.fa {
		color: white;
		background-color: #575757;
		padding: 1em 1.8em;
		border-radius: .25em;
	}
	.cc-icon:not(:last-child) {
		margin-right: 1em;
	}

	.price-table {
		font-size: 2em;
		margin: 0 auto;
		text-align: left;
		td {
			padding: .25em 1em;
		}
	}
}

.invites {
	@include info-section-dark($col-section-1);
	.invite-me {
		@include cta-button($col-space);
		margin-left:3em;
	}
	h1 {
		margin-bottom: .5em;
	}
}

.email-form-field {
	@include text-field($col-space, $col-dark);
	margin-bottom: 1em;
}
